.features__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}
.features__description {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
.features__list {
  list-style: none;
}
.features__item {
  background-repeat: no-repeat;
}
.features__item-flow {
  background-image: url("../../img/icon-feature-flower.svg");
}
.features__item-money {
  background-image: url("../../img/icon-feature-money.svg");
}
.features__item-heart {
  background-image: url("../../img/icon-feature-heart.svg");
}
.features__item-ball {
  background-image: url("../../img/icon-feature-ball.svg");
}
.features__item-rocket {
  background-image: url("../../img/icon-feature-rocket.svg");
}
.features__item-gift {
  background-image: url("../../img/icon-feature-gift.svg");
}
