.form-order__fieldset {
  border: none;
}
.form-order__list {
  list-style: none;
}
.form-order__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
.form-order__label,
.form-username__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}
.form-username__input,
.form-order__tel,
.form-order__email,
.form-order__textarea
 {
  border: none;
}
.form-order__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
}
.form-username__input::placeholder,
.form-order__email::placeholder,
.form-order__textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.3);
}
.form-order__tel::placeholder {
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.3);
}
.form-order__note {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
.form-order__btn {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
}
