.modal {
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.modal__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.modal__description,
.modal__list {
  align-self: center;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.modal__description {
  .font-size-height();
  font-weight: 400;
  color: #444444;
}

.modal__list {
  list-style: none;
  display: flex;
}

.modal__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  border: 2px solid rgba(68, 68, 68, 0.1);
}

.modal__label:hover {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.modal__label:active,
.modal__label:focus {
  border: 2px solid #62d1ba;
}

.modal__btn {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #63d1bb;
  border: 2px solid #63d1bb;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .modal {
    width: 556px;
    height: 336px;
    margin: 0 auto;
    border: 1px solid #c7c7c7;
  }

  .modal__wrapper {
    width: 556px;
    height: 336px;
    margin: 0 auto;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal__description {
    font-size: 17px;
  }
}
