.product-week {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-week__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.product-week__info {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
}

.product-week__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.product-week__table {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

.product-week__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  align-self: center;
}

.product-week__img {
  background-color: #92cbc9;
  height: 315px;
}

.product-week__block {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .product-week {
    padding: 0 50px;
  }

  .product-week__img {
    width: 333px;
    height: 404px;
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .product-week__block {
    width: 290px;
    min-height: 450px;
  }

  .product-week__title {
    margin-right: 50px;
    font-size: 43px;
    line-height: 50px;
    z-index: 1;
  }

  .product-week__info {
    font-size: 17px;
    line-height: 17px;
  }

  .product-week__description {
    font-size: 17px;
    line-height: 30px;
  }

  .product-week__price {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .product-week {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 175px;
  }

  .product-week__info {
    order: 0;
  }

  .product-week__title {
    order: 1;
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__block {
    order: 2;
  }

  .product-week__img {
    width: 525px;
    height: 636px;
    right: 0;
    top: 0;
  }
}
